<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Posts</h1>
            <ol class="flex_container">
                <% postList.results.forEach(function(post) {%> <!--postList is an object that comes from postRoutes -->
                    <li class="flex_child">
                        <div class="image_container">
                            <img src=<%=post.imageUrl %> alt="image uploaded by user"> </img>
                        </div>

                        <h4>
                            <%= post.message %>
                        </h4>
                        <p> Created by <a href="/users/<%= post.postedBy.id %>/" target='_blank'>

                                <%=post.postedBy.name %>
                            </a>
                            on <%= format(post.createdAt, "dd-MM-yyyy" ) %>
                        </p>

                        <p>
                            Post liked by <% post.likedBy.slice(0,2).forEach(function(likedBy) {%>
                                <%= likedBy.name + ',' %>
                                    <% });%>
                                        ... and <%= post.likedBy.length -2 %> others.

                                            <!-- tried tailoring text with if statements - error -->

                        </p>
                        <div class="button_container">
                            <form method="post" action="/posts/<%= post.id %>/like/">
                                <button class="like" type="submit">❤</button>
                            </form>
                            <form method="post" action="/posts/<%= post.id %>/dislike/">
                                <button class="dislike" type="submit">👎🏼</button>
                            </form>
                        </div>
                    </li>
                    <% }); %>
            </ol>
            <%if (postList.next) { %>
                <a href="<%= postList.next %>">Next</a>
                <% } %>
                    <%if (postList.previous) { %>
                        <a href="<%= postList.previous %>">Previous</a>
                        <% } %>
        </body>

</html>

<!-- export interface PostModel {
  id: number;
  message: string;
  imageUrl: string;
  createdAt: Date;
  postedBy: PostUserModel;
  likedBy: PostUserModel[];
  dislikedBy: PostUserModel[];
}
 -->