<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>

            <img class="profile_image" src="<%= profileImageUrl %>" alt="user's profile picture">
            <img class="background_picture" src="<%= coverImageUrl %>" alt="user's main picture" <h4>
            <!-- <div class="user_details_container"> -->
            <h3 class="user_name">
                <%= name %>
            </h3>
            <h5 class="user_id">
                <%= username %>
            </h5>
            <h5 class="user_email">
                <%= email %>
            </h5>
            <!-- </div> -->


            <section class="user_posts">
                <h3>
                    <%=name%>'s Posts
                </h3>

                <div class="flex_posts_container">
                    <% posts.forEach(function(post) {%>
                        <div class="individual_post_container">
                            <img class="post_image" src="<%=post.imageUrl %>" alt="image uploaded by user">
                            <p class="associated_data">
                                <%= post.message %>
                                    <%= post.createdAt %>
                            </p>
                        </div>
                        <%})%>
                </div>
                </div>
            </section>
            <h3>
                <%=name.split(' ')[0] %>' s Liked Posts </h3>
                    <section class="user_likes">

                        <div class="flex_posts_container">
                            <% likes.forEach(function(post) {%>
                                <!-- LIKES is a key/property of USER that returns an array  -->
                                <div class="individual_post_container">
                                    <img class="elem1 post_image" src="<%= post.imageUrl %>" alt="post image" />
                                    <div>
                                        <p class="associated_data">
                                            <%= post.message %>
                                                <!-- <%= post.createdAt %> -->
                                                <%= post.createdAt.split(' ')[0] %>
                                        </p>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </section>

                    <h3>
                        <%=name.split(' ')[0] %>' s Disliked Posts </h3>
                                                    <section class="user_dislikes">


                                                        <div class="flex_posts_container">
                                                            <% dislikes.forEach(function(post) {%>
                                                                <section class="individual_post_container">
                                                                    <img class="elem1 post_image"
                                                                        src="<%= post.imageUrl %>" alt="post image" />
                                                                    <div>
                                                                        <p class="associated_data">
                                                                            <!-- <p>
                                                    <%= post.createdAt %>
                                                </p> -->
                                                                            <%= post.createdAt.split(' ')[0] %></p>
                                                <p>
                                                    <%= post.message %>
                                                </p>
                                                </p>
                                            </div>
                                        </section>
                                        <% }); %>
                                
                            

        </body>
      

</html>