<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Users</h1>
            <ol>
                <% results.forEach(function(user) {%>
                    <li>
                        <h3>
                            <a href="/users/<%= parseInt(user.id) %>/">
                                <%= user.name %>
                            </a>
                            <!-- link not working - used .users/:userId/  ... error expected to find 1 item but found 0 -->
                        </h3>

                        <p>
                            UserId: <%=user.id %>
                        </p>
                        <br></br>
                        <img src="<%=user.profileImageUrl %>>" </img>
                        <!-- with an extra > after the %> tag above, the picture changes - why? -->
                    </li>
                    <% }); %>
            </ol>
            <%if (next) { %>
                <a href="<%= next %>">Next</a>
                <% } %>
                    <%if (previous) { %>
                        <a href="<%= previous %>">Previous</a>
                        <% } %>
        </body>
        <%- include('_footer') -%>

</html>